<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">Contáctanos</h1>
  <div class="col-lg-6 mx-auto">
    <%= image_tag "form.svg", height: 200, width: 220 %>
    <p class="lead mb-4">Déjanos tu información y te contactaremos lo más pronto posible para asesorarte en lo que necesites </p>

    <div class="text-start">
      <form>
        <div class="form-group mb-3">
          <h5 for=" exampleFormControlInput1">Nombre Completo</h5>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group mb-3">
          <h5 for="exampleFormControlInput1">Correo electrónico</h5>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Juan Rodríguez">
        </div>
        <div class="form-group mb-3">
          <h5 for="exampleFormControlTextarea1">Descripción de la solicitud</h5>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-5">
          <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 rounded-pill">Enviar Solicitud</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>