<div class="container-fluid ">
  <footer class="px-5 row row-cols-5 py-5 mt-5 border-top border-primary bg-dark">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <%= image_tag "logo.png", height: 60, width: 60 %>
      </a>
      <p class="text-muted text-primary">© Centauri 2022</p>
    </div>


    <div class="col">
      <h5 class="text-primary"><i class="fas fa-users me-3"></i>  Clientes</h5>
      <ul class="nav flex-column text-primary">
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Iniciar Sesión</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Servicios</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Productos</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Contacto</a></li>
      </ul>
    </div>
    <div class="col">
      <h5 class="text-primary"><i class="fas fa-building me-3"></i>Proveedores</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Iniciar sesión</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Beneficios</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Precios</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Estadísticas</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Contacto</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 class="text-primary"><i class="fas fa-book me-3"></i>Sobre nosotros</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 class="text-primary"><i class="fas fa-phone-volume me-3"></i>Contactanos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2 text-white"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>
  </footer>
</div>