<seccion>
  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <div class="d-none d-sm-none d-md-block"><%= image_tag "casa.png", height: 517, width: 627 %></div>
        <div class="d-block d-sm-block d-md-none">Este texto solo visible para smartphone</div>

      </div>
      <div class="col-lg-6">
        <div class="text-center mb-5 d-none d-sm-none d-md-block"><%= image_tag "logoBlanco.png", height: 250, width: 330 %></div>
        <div class="d-block d-sm-block d-md-none text-center mb-5"><%= image_tag "logoBlanco.png", height: 190, width: 240 %></div>
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white">Compara entre cientos de empresas del sector  <span class="texto">energetico</span></h1>
        <span class="lead text-white">Ayudamos a concientizar, facilitar y democratizar el acceso e implementación a las energías renovables en Colombia y Latinoamérica</span>
      </div>
    </div>
    <div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFFFF" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,197.3C960,171,1200,85,1320,42.7L1440,0L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</seccion>
