<div class="bg-dark">
  <div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag "casa.png", height: 517, width: 627 %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-primary">CENTAURI</h1>
        <p class="lead text-white">La plataforma web que busca concientizar, facilitar y democratizar el acceso e implementación a las energías renovables en Colombia y Latinoamérica.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="#icon-grid"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded-pill">Conoce más</button></a>
          <a href="#contact_form"><button type="button" class="btn btn-outline-primary btn-lg px-4 rounded-pill">Cotizar</button></a>
        </div>
      </div>
    </div>
  </div>
</div>