<body class="bg-dark">

  <div class="px-4 py-5 pt-5 mt-5 text-center">
    <div class="overflow-hidden">
      <div class="container px-5">
        <%= image_tag "logo.png", height: 350, width: 420 %>
      </div>
    <h1 class="display-4 text-primary fw-bold mt-4">CENTAURI</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead text-white mb-4 mt-3">
        Es una plataforma web que busca concientizar, facilitar y democratizar el acceso e implementación a las energías renovables en Colombia y Latinoamérica. Reuniendo a todas las empresas del sector energético (más precisamente energías limpias) en un solo lugar. De esta forma las diferentes empresas del sector tendrán un lugar donde darse conocer y los usuarios contarán con información fácil del portafolio de opción que existe en hoy en día para satisfacer las necesidades energéticas que estén necesitando.
        <br>
        <br>CENTAURI brinda, no solo información comparativa, sino también información clara y entendible para todo público.  Los usuarios podrán ver precio de diferentes ofertantes, beneficios entre una opción y otra, tiempo de retorno de inversión, comparación entre consumo y usabilidad dentro de la vida diarias de los usuarios  (cuantos carros carga, cuantos aire mantiene prendidos, cuantos bombillos ilumina por número de horas)

      </p>

    </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <h1 class="display-4 text-primary fw-bold my-5">Nuestro equipo</h1>
      <!-- Team item -->
      <div class="col-xl-4 col-sm-8 mb-5">
        <div class="bg-light shadow-sm rounded py-5 px-5 "><%= image_tag "camilo.png", class: "img-fluid rounded mb-3 img-thumbnail shadow-sm", width: 100 %>
          <h5 class="mb-0">Camilo Gómez</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->

      <!-- Team item -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-5"><%= image_tag "diego.png", class: "img-fluid rounded mb-3 img-thumbnail shadow-sm", width: 100 %>
          <h5 class="mb-0">Diego Chaparro</h5><span class="small text-uppercase text-muted">COO - CoFounder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->

      <!-- Team item -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-5"><%= image_tag "sebastian.png", class: "img-fluid rounded mb-3 img-thumbnail shadow-sm", width: 100 %>
          <h5 class="mb-0">Sebastián Céspedes</h5><span class="small text-uppercase text-muted">CTO - CoFounder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->
      <!-- End -->
    </div>
  </div>
</body>